@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@plugin "daisyui" {
    themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.002 247.839);
  --color-base-200: oklch(96% 0.003 264.542);
  --color-base-300: oklch(92% 0.006 264.531);
  --color-base-content: oklch(21% 0.034 264.665);
  --color-primary: oklch(68% 0.169 237.323);
  --color-primary-content: oklch(39% 0.09 240.876);
  --color-secondary: oklch(85% 0.199 91.936);
  --color-secondary-content: oklch(26% 0.051 172.552);
  --color-accent: oklch(58% 0.158 241.966);
  --color-accent-content: oklch(98% 0.002 247.839);
  --color-neutral: oklch(92% 0.013 255.508);
  --color-neutral-content: oklch(13% 0.028 261.692);
  --color-info: oklch(50% 0.134 242.749);
  --color-info-content: oklch(98% 0.002 247.839);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(47% 0.157 37.304);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

:root {
    background-color: var(--color-base-100);
}
